<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Buenos días, ha llegado una consulta de <%= @values.email %></h1>
    <p>
      El asunto del correo enviado es: <%= @values.subject %>.<br>
    </p>
    <p>
      El mensaje del mensaje es el siguiente: <%= @values.body %>.
    </p>
    <p>Muchas gracias y que tengas un buen día!</p>
  </body>
</html>
